*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: "Poppins", sans-serif;

}
nav{
    background-color:hotpink;
    height: 10vh;
    width: 100%;
    padding: 25px;
    font-size: 1.3rem;
    position: sticky;
    top: 0px;
}
ul li{
    list-style:none;
    color: white;
    display: inline;
    padding: 20px;
    cursor: pointer;
}
.parent{
    background-color: green;
    width: 98%;
    margin: 15px;
    padding: 40px;
}
.box{
    height: 70vh;
    width: 34vw;
    display: inline-block;
    margin: 0px 20px 0px 20px;
}
.box1{
    background-color: coral;
    margin-left: 160px;
}
.box2{
    background-color: rgb(88, 88, 246);
}
.welcome{
    border: 3px solid white;
    color: white;
    font-size: 55px;
    width: 60%;
    text-align: center;
    border-radius: 50px;
    position: relative;
    left: 285px;
    padding: 45px;
}
.footer{
    background-color:plum;
    width: 100%;
    height: 10vh;
    margin-top: 150px;
}
.logo{
    background-color:yellow;
    border: 2px solid white;
    width: 8%;
    height: 100px;
    border-radius: 100%;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
.logo p{
    margin-top: 17px;
    cursor: pointer;
}
.logo:hover{
    background-color: rgb(42, 56, 165);
    color: white;
}